
*{
    color: darkblue;
    text-align: center;
    
}.center {
    text-align: center;
    color: red;
  }

h1{
    color: bisque;
}

.g3{
    color: darkseagreen;
}

*{
    color: darkblue;
    text-align: center;
}
    